<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamSupport.allSport.Meeting.MeetingMapper">

    <select id="getAllMeeting" resultType="com.teamSupport.allSport.Meeting.Meeting">
        SELECT * FROM meeting
    </select>

    <select id="findMeetingByGameId" parameterType="int" resultType="com.teamSupport.allSport.Meeting.Meeting">
        SELECT * FROM meeting WHERE idContest = #{idContest}
    </select>

    <select id="findMeetingByMeetId" parameterType="int" resultType="com.teamSupport.allSport.Meeting.Meeting">
        SELECT * FROM meeting WHERE idMeeting = #{idMeeting}
    </select>

    <insert id="makeMeeting">
        INSERT INTO meeting VALUES(#{idMeeting}, #{idContest}, #{meet_name}, #{meet_nowcount}, #{meet_maxcount}, #{meet_location}, #{meet_contents})
    </insert>

</mapper>