<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamSupport.allSport.Post.PostMapper">

    <select id="getAllPost" resultType="com.teamSupport.allSport.Post.Post">
        SELECT * FROM post
    </select>

    <select id="findPostByPostId" parameterType="int" resultType="com.teamSupport.allSport.Post.Post">
        SELECT * FROM post WHERE post_id = #{post_id}
    </select>

    <select id="findPostByGameId" parameterType="int" resultType="com.teamSupport.allSport.Post.Post">
        SELECT * FROM post WHERE game_id = #{game_id}
    </select>

    <select id="findPostByKind" parameterType="String" resultType="com.teamSupport.allSport.Post.Post">
        SELECT * FROM post WHERE kind = #{kind}
    </select>

    <insert id="uploadPost">
        INSERT INTO post VALUES(#{post_id}, #{game_id}, #{post_date}, #{writer_nickname}, #{kind}, #{title}, #{contents})
    </insert>

</mapper>