<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamSupport.allSport.User.UserMapper">
    <select id="findAllUsers" resultType="com.teamSupport.allSport.User.User">
        SELECT * FROM user
    </select>

    <select id="getUser" parameterType="String" resultType="com.teamSupport.allSport.User.User">
        SELECT * FROM user WHERE user_key = #{user_key}
    </select>

    <insert id="insertUser">
        INSERT INTO user VALUES (#{user_key}, #{nickname})
    </insert>
</mapper>

